<!DOCTYPE html>
<html>
<head>
  <title>IdeaBox</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="conatiner-fluid">
  <div class="row-center">
    <div class="col-sm-8">
      <%= yield %>
    </div>
  </div>
</div>
</body>
</html>
